{% extends "header.html" %}
{% block content %}

<div class="row">
    <span style="border-width: 5px; border-style: solid; margin-left: 420; margin-top: 10px;">
        <div>
            <h2><em>Documentary</em></h2>
        </div>
    </span>
</div>

{# Threads #}
<div class="row">
<div class="col-md-12">
    <h1> Active Threads <small class="float-right">{{ threads|length }} threads total</small></h1>
    <ul class="media-list">
    {% for thread in threads %}
    <li class="media review-item">
        <img class="mr-3 comment-pic" src="{{thread.thread_image}}" alt="bad">
        <div class="media-body">
        <a>
            <strong>@{{ thread.topic }}</strong>
        </a>
        <p>
            {{ thread.description }}
        </p>
        </div>
    </li>
    {% endfor %}
    </ul>
</div>
</div>

{% if current_user.is_authenticated %}
{# Thread Creation Form #}
<h3>Create New Thread</h3>
<div class="row">
    <div class="col">
        <form method="POST" action="" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form.subject.label }}
            {{ form.subject(class="form-control") }}
            {% if form.subject.errors %}
            <div class="alert alert-warning" role="alert">
            {% for error in form.subject.errors %}
            <span>{{ error }}</span>
            {% endfor %}
            </div>
            {% endif %}

            {{ form.content.label }}
            {{ form.content(class="form-control") }}
            {% if form.content.errors %}
            <div class="alert alert-warning" role="alert">
            {% for error in form.content.errors %}
            <span>{{ error }}</span>
            {% endfor %}
            </div>
            {% endif %}

            {{ form.picture.label(class="form-control-label")}}
            {{ form.picture(class="form-control form-control-lg") }}

            {% if form.picture.errors %}
            <div class="alert alert-warning" role="alert">
            {% for error in form.picture.errors %}
            <span>{{ error }}</span>
            {% endfor %}
            </div>
            {% endif %}
        </div>
        {{ form.submit() }}
        </form>
    </div>
</div>
{% endif %}
{% endblock %}