{% extends "header.html" %}
{% block content %}

<div class="row">
    <span style="border-width: 5px; border-style: solid; margin-left: 420; margin-top: 10px; margin-bottom: 10px;">
        <div>
            <h2><em>Welcome to FlickPics</em></h2>
        </div>
    </span>
    <div class="container">
        <div>
            <h3>This is an imageboard for the discussion of different genres of movies (listed in the header of this website).
                Create an account and click on one of the boards to start posting! 
            </h3>
            <hX>Rules</hX>
            <ol>
                <li>No illegal content</li>
                <li>No spamming</li>
                <li>No mass/fake reporting</li>
            </ol>
        </div>
        <br>
        <h4></h4>
    </div>
</div>
{% endblock %}